In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [3]:
train = pd.read_csv('train.csv')

In [5]:
train = train.fillna(train.mean())

In [7]:
train.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1280 entries, 0 to 1279
Data columns (total 12 columns):
fixed acidity           1280 non-null float64
volatile acidity        1280 non-null float64
citric acid             1280 non-null float64
residual sugar          1280 non-null float64
chlorides               1280 non-null float64
free sulfur dioxide     1280 non-null float64
total sulfur dioxide    1280 non-null float64
density                 1280 non-null float64
pH                      1280 non-null float64
sulphates               1280 non-null float64
alcohol                 1280 non-null float64
quality                 1280 non-null float64
dtypes: float64(12)
memory usage: 120.1 KB

In [9]:
test = pd.read_csv('test.csv')

In [10]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 11 columns):
fixed acidity           319 non-null float64
volatile acidity        319 non-null float64
citric acid             319 non-null float64
residual sugar          319 non-null float64
chlorides               319 non-null float64
free sulfur dioxide     319 non-null float64
total sulfur dioxide    319 non-null float64
density                 294 non-null float64
pH                      295 non-null float64
sulphates               319 non-null float64
alcohol                 319 non-null float64
dtypes: float64(11)
memory usage: 27.5 KB

In [11]:
test = test.fillna(test.mean())

In [13]:
rfr = RandomForestRegressor()

In [35]:
X = train.iloc[:,:11].values
y = train.iloc[:,-1].values

test_X = test.iloc[:,:].values

In [36]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3)

In [37]:
rfr.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [38]:
print('Train Score: {}'.format(round(rfr.score(X_train, y_train), 3)))

Train Score: 0.894

In [39]:
print(' Test Score: {}'.format(round(rfr.score(X_test, y_test), 3)))

 Test Score: 0.294

In [40]:
y_pred = rfr.predict(test_X)

In [41]:
y_ans = np.round(y_pred,decimals = 3)

In [31]:
ls

 ドライブ D のボリューム ラベルは DATA です
 ボリューム シリアル番号は B8CE-D9C4 です

 D:\python学習\GCI2019\competition2\input のディレクトリ

2020/02/02  10:02    <DIR>          .
2020/02/02  10:02    <DIR>          ..
2020/02/02  10:02             2,183 sample.csv
2020/02/02  10:02             3,007 submission (1).csv
2020/01/17  10:22             3,328 submission_sample.csv
2020/01/16  09:52            17,358 test.csv
2020/01/16  09:52            74,101 train.csv
               5 個のファイル              99,977 バイト
               2 個のディレクトリ  1,728,179,593,216 バイトの空き領域

In [44]:
submission = pd.read_csv('submission.csv')
submission.head(10)

   quality
0      5.0
1      5.0
2      5.0
3      5.0
4      5.0
5      5.0
6      5.0
7      5.0
8      5.0
9      5.0

In [45]:
submission['quality'] = y_ans

In [46]:
submission.head()

   quality
0    5.385
1    5.513
2    5.729
3    6.019
4    6.097

In [47]:
submission.to_csv('submission_sample.csv', index=False)